:root {
  --trim: #55ee55;
}

body {
  background-color: black;
  color: white;
  font-family: Verdana;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: orbitron;
}

.sliding_title {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:40px;
  border: 6px solid var(--trim);
  background-color: black;
  color: var(--trim);
}

.barcode {
  margin: 0px;
color: var(--trim);

  text-align: center;
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
}

.column_left {
  float: left;
  margin-left: 7%;
  width: 15%;
}

.spans_column {
  width: 100%;
}

ul {
    padding-left: 0;
}

button {
    cursor:pointer;
}


.cyber_btn {
  border-color: var(--trim);
  border-width: 1px 3px 3px 5px;
  margin-bottom: 5px;
  height: 25px;
  border-radius: 5px;
  
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  color: var(--trim);
  background-color: black;  
  padding: 0px 7px 0px 7px;
}

.column_main {
    float: left;
    width: 56%;
}

.flex-container {
    display:flex;
    flex-direction: row;
}

li.currently_header {
  font-family: orbitron;
    list-style-type: none;
    font-size: 30px;
    padding-left: 0;
    color: var(--trim);
}

li.currently_item {
    list-style-type: none;
    padding-left: 0;
}

/* The following is used for the scrolling "welcome to the echo chamber.
   Source: https://stackoverflow.com/questions/45847392/pure-css-continuous-horizontal-text-scroll-without-break*/

.wrapper {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  text-align: center;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee h1 {
  display: inline-block;
  margin: 0px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
