:root {
  --trim: #76fe76;
  --trim_complement: #ffdf9b;
}

body {
  background-color: black;
  color: white;
  font-family: Verdana;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: orbitron;
  color: var(--trim);
  font-size: 4vw;
}

h2 {
  text-decoration: underline;
}

.sliding_title {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:40px;
  border: 6px solid var(--trim);
  background-color: black;
  color: var(--trim);
}

.barcode {
  margin: 0px;
  color: var(--trim_complement);

  text-align: center;
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
}

.column_left {
  float: left;
  margin-left: 7%;
  width: 15%;
}

.column_right {
  float: right;
  margin-right: 7%;
  width: 15%;
}

.spans_column {
  width: 100%;
}

ul {
    padding-left: 0;
}

button {
    cursor:pointer;
}


.cyber_btn {
  border-color: var(--trim);
  border-width: 1px 3px 3px 5px;
  margin-bottom: 5px;
  height: 25px;
  border-radius: 5px;

  font-size: 1.2vw;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  color: var(--trim);
  background-color: black;  
  padding: 0px 7px 0px 7px;
}

.column_main {
    float: left;
    width: 50%;
    margin-left: 2%;
}

.flex-container {
    display:flex;
    flex-direction: row;
}

li.currently_header {
  font-family: orbitron;
    list-style-type: none;
    font-size: 30px;
    padding-left: 10px;
    color: var(--trim_complement);
    
}

li.currently_item {
    list-style-type: none;
    padding-left: 20px;
}

li.currently_item a {
  text-decoration: underline;
}


.header {
  text-decoration: underline;
  text-align: center;
}


.friend_header {
    font-size: 1.8vw;
    color: var(--trim_complement);
    margin: 0px;
    text-align: right;
    display:inline;
}

.friend_caption {
  font-size: 1.4vw;
  margin: 2px;
  text-align: left;
}

.friend_image {
  height: 2.4vh;
  width: 8vw;
  float: right;
  align-items: right;

  margin-left: auto;
}

.article_content 
{
  font-size: 1.6vw;
  text-indent: 3vw;
}

.article_table 
{
  color: var(--trim_complement);

  font-size: 2.9vw;
}

.article_table tr:hover
{
  color: var(--trim);
}

/* for the date*/
.article_table td:nth-child(2)
{
  text-align:left;
  vertical-align:bottom;
  font-style:italic; 
  font-size: 2.0vw;
}

/* The following is used for the scrolling "welcome to the echo chamber.
   Source: https://stackoverflow.com/questions/45847392/pure-css-continuous-horizontal-text-scroll-without-break*/

.wrapper {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  text-align: center;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee h1 {
  display: inline-block;
  margin: 0px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
